<section class="hero is-primary">
    <div class="hero-body">
        <div class="container" style="
            display: flex;
            justify-content: space-between;
            align-items: center;
            ">
            <h1 class="title" style="margin:0 850px 0 0;">
                Five days forecast
            </h1>
            <a onmouseover="this.style.backgroundColor='black'; this.style.color='white';"
                onmouseout="this.style.backgroundColor='white'; this.style.color='black';"
                style="
                display: block;
                border: 1px solid black;
                border-radius: 5px;
                background-color: #ffffff;
                color: black;
                transition: .3s;
                padding: 4px 11px;
                "href="/dashboard?">Go back</a>
        </div>
    </div>
</section>
<div class="wrapper" style="display: flex; flex-wrap:wrap; margin-top: 70px; margin-left:25px">

{{#each fiveDaysWeather}}
    <div class="box" style="margin: 20px 20px;">
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <h2>{{this.city}}</h2>
                    <span>{{this.time}}</span>
                    <figure class="image is-50x50">
                        <img src="https://openweathermap.org/img/wn/{{this.icon}}.png" alt="Image">
                    </figure>
                    <span>{{this.description}}</span>
                    <br>
                    <span>Temperature: {{this.temperature}}° C</span>
                    <br>
                    <span>Wind: {{this.wind}} m/s</span>
                    <br>
                    <span>Preassure: {{this.pressure}}</span>
                </div>
            </div>
        </article>
    </div>
{{/each}}